// mat-card img{
//     object-fit: cover; /*this makes the image in src fit to the size specified below*/
//     width: 40%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
//     height: 40%;
//   }

//   .card {
//     width: 10px;
//     height: auto;
//     background: red;
//     margin: 20px auto;
//     border-radius: 4px;
//     display: flex;
//     flex-direction: column;
// }

.centering-div{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
  }